@import '../base';

.content-builder-container 							{ padding:30px 0; 
	
	@media(min-width:801px)							{ padding:40px 0; }
	@media(min-width:1025px)						{ padding:50px 0; }
	
	@import '../Blocks/Block';
	@import '../Blocks/Headline';
	@import '../Blocks/Content';
	@import '../Blocks/ContentContent';
	@import '../Blocks/ContentContentContent';
	@import '../Blocks/BlogFeed';
	@import '../Blocks/PageAnchor';
}

