@import '../base';

/*-- Content Builder Content Content --*/
.content-builder-block-element.content-content		{ display:flex; justify-content:space-between; align-items:stretch;
	&--half > *										{ width:100%; margin:4% 0 0; }
	&--half											{ flex-direction:column; align-items:center; }
	
	@media(min-width:801px) {
		&--left										{ order:1; }
		&--right									{ order:2; }
		&--half										{ flex-direction:row; align-items:stretch; }
		&--half > *									{ max-width:48%; margin-top:0; }
	}
}